<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762133805133-u2nq40vhvqld53qok2g39hhku5evk4vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762133805133-u2nq40vhvqld53qok2g39hhku5evk4vt</string>
	<key>API_KEY</key>
	<string>AIzaSyArbIC1a1h2dYSJBXzZxHS5Ii0oyVdPTns</string>
	<key>GCM_SENDER_ID</key>
	<string>762133805133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crossplatformers.notify-me</string>
	<key>PROJECT_ID</key>
	<string>notifyme-2c420</string>
	<key>STORAGE_BUCKET</key>
	<string>notifyme-2c420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762133805133:ios:6d85f774ff43456915c404</string>
	<key>DATABASE_URL</key>
	<string>https://notifyme-2c420.firebaseio.com</string>
</dict>
</plist>